<!DOCTYPE html>
<html>
<head>
   <link href="global.css" rel="stylesheet" type="text/css">
   <script src="parse.js"></script>
   <script src="tokens.js"></script>
   <script src="main.js"></script>
</head>

<body>
  <script>
    function dump(fileName) {
        $.get(fileName, function (data) {
            $("#INPUT").val(data);
        });
    };
  </script> 
  <h1>Top Down Operator Precedence. Lexical Analysis</h1>
  <p>
    <nav>
      <a href="http://javascript.crockford.com/tdop/tdop.html" class="mylink">Top Down Operator Precedence tutorial</a>
      <a href="https://github.com/crguezl/ull-etsii-grado-pl-minijavascript" class="mylink">Repo at GitHub</a>
    </nav>
  </p>
  <h2>Input</h2>
  <br>
  <ul id="menu">
    <li id="ejemplo1" onclick="dump('input1.txt');">Ejemplo1</li>
    <li id="ejemplo2" onclick="dump('input2.txt');">Ejemplo2</li>
    <li id="ejemplo3" onclick="dump('input3.txt');">Ejemplo3</li>
  </ul>
  <br><br><br>
  <p>
  Fill the input box with javascript code:
  </p>
  <textarea id="INPUT">
     var a = "hello"; // initialize a
     var b = function(x) {
             var c = 3;
               return x+c;
             };
  </textarea>
  <br>
  <input id="PARSE" value=parse type=button class="mylink">
  <pre id=OUTPUT></pre>
</body>
</html>