html *
{
    th {background-color: brown; border: black solid 1px; text-align: left;
        padding-left: 10px; padding-right: 10px; vertical-align: top;}
    td {background-color: white; border: black solid 1pt; padding-left: 10px;
        padding-right: 10px; vertical-align: top;}
    table {width: 90%; border: 0px; cellpadding: 0px;}
}
h1{color: white; font-size: 20px;}
ul#menu {
 background-color: pink;
 -moz-border-radius: 20px;
 -webkit-border-radius: 20px;
 border: 10px solid green;
 width: 80%;
 height: 30px;
 padding: 10px;

}
   
ul#menu li {
 color: #000;
 float: left;
 list-style: none;
 margin: 0% 13%;
}
   
ul#menu li:hover{
 color: #aaa073;
 cursor:pointer;
}


#INPUT 
{
    border: solid; 
    color: black;
    font-family: monospace;
    height: 1in;
    overflow: auto;
    /* padding: 0.5em; */
    width: 50%;
    background-color: green; 
}
 body {
// background-color: black;
 background: url('image1.jpg') no-repeat;
 background-size: cover;
 background-position: center 0;
 background-attachment: fixed; 
}
#OUTPUT 
{
    background-color: yellow; 
    width: 80%;
}


a {
  font-size: x-large;
  text-decoration:none;
}

a:link { color: black; }
a:visited { color:black; }
a:hover{ 
  background-color:pink; 
  color: black;
}
a:active {color: brown;}  /* selected link */



nav {
    text-align: center;
}

nav li {
    list-style: none;
    display: inline;
    margin: 0 1em;
}

.mylink {
  background-color: #66FFCC;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 5px solid #009900;
  padding: 5px;
}

/* Supress borders after the button is pressed */
#PARSE:focus {outline:0; }
